@font-face {
  font-family: "PrimorStylish";
  src: url("./assets/fonts/PrimorStylish.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-image: url("/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 100vh;
  margin: 0;
}

.header {
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header button {
  padding: 0.50rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  border: 1px solid white;
  box-shadow: rgba(0,0,0,0.5) 1px 2px 5px;
  letter-spacing: 0.05rem;
}

/* =========================
   HERO BASEPLATE
   ========================= */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero__inner {
  max-width: 900px;
  padding: 2rem;
  text-align: center;
}

.hero_title_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.hero__title {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  width: 70%;
  justify-self: center;
  font-family: "PrimorStylish";
  font-weight: 200;
}

.hero__subtitle {
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 720px;
  margin: 0 auto 2.5rem;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 200;
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}

.hero__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero__btn {
  padding: 0.50rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  border: 1px solid white;
  box-shadow: rgba(0,0,0,0.5) 1px 2px 5px;
  letter-spacing: 0.05rem;
}

.hero_awards{
  padding-top: 8rem;
}
