* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-image: url("../public/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header {
  color: white;
}

.header nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header button {
  padding: 10px 16px;
  cursor: pointer;
}